.btn{
    width: max-content;
    display: inline-block;
    color: var(--secondary-color);
    padding: 0.75rem 1.2rem;
    border-radius: 0.4rem;
    cursor: pointer;
    border: 1px solid var(--secondary-color);
    transition: var(--transition);
    text-decoration: none;

    &:hover{
      
      background: var(--color-bg);
      border-color: transparent;
    }
  }